@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  font-size: 20px;
  background-color: #ffffff;
  font-family: "Yu Gothic","游ゴシック",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro W3","メイリオ",sans-serif;
}

article{
  margin-left: 5%;
  margin-right: 5%;
}

header {
  position: fixed;
  width: 100%;
  background: #ffffff;
}

h1{
  padding-top: 50px;
}

h1 p{
  text-align: center;
  font-size: 1.3rem;
}

h2{
  font-size: 36px;
  color: #ffffff;
}

h3{
  font-size:1.2rem;
  margin-top: 1.2rem;
  margin-bottom:0.8rem;
}

img{
  width:100%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

header ul li {
  list-style: none;
}

header ul li ul {
  display:none;
  position:absolute;
  text-decoration:none;
  background: #ffffff9c;
}

header ul li{
  list-style: none;
}

header ul li a{
	display:block;
	padding:20px 40px;
	color:#353535;
	text-decoration:none;
}

header ul li a:hover{
  background-color: #05AEBB;
	color:rgb(255, 255, 255);
}

.img_top{
  padding-left: 25%;
  padding-top: 70px;
  padding-bottom: 100px;
}

.circle{
  margin-bottom: 80px;
  margin-top: 50px;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(#E44840,#05AEBB);
  text-align:center;
  line-height: 150px;
}

.scroll {
  position: absolute;
  right: 10%;
  top: 90%;
  display: inline-block;
}

.scroll::before {
  animation: scroll 3.5s infinite;
  border: solid #000;
  border-width: 0 0 1px 1px;
  content: "";
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: rotate(-45deg);
  width: 20px;
  height: 20px;
}
@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  80% {
    transform: rotate(-45deg) translate(-30px, 30px);
  }
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

footer{
  background-color:#05AEBB ;
  margin-top: 5rem;
  padding: 3rem;
}

/*　個別の作品ページ用　*/
#title{
  padding-top: 2em;
  padding-bottom: 0.5em;
  color:#353535
}

.title{
  font-weight: 600;
}

.skills{
  display: flex;
  flex-direction: row;
}
.skill{
  margin: 20px;
  list-style:none;
  border-radius: 20%;
  background:#05AEBB;
  text-align:center;
  padding: 0.25em;
}

time{
  font-size: 15px;
}

.concept_top{
  display: flex;
  flex-direction: row;
}

.concept_img{
  width: 70%;
}
.concept_txt{
  width: 30%;
}

.detail{
  display: flex;
}
.detail_img{
  width: 50%;
}
.detail_txt{
  width: 50%;
  margin-left:5% ;
}

/* レスポンシブ用 */
/* スマホ */
@media screen and (max-width:599px) {
  body{
    font-size: 1rem;
  }
  .scroll {
    position: relative;
    padding-top: 70px;
    display: inline-block;
  }
  .txt{
    padding-left: 43%;
  }
  .concept_top{
    display: flex;
    flex-direction: column;
  }
  .concept_img{
    width: auto;
  }
  .concept_txt{
    width: auto;
  }
  .detail{
    display: flex;
    flex-direction: column;
  }
  .detail_img{
    width: auto;
  }
  .detail_txt{
    width: auto;
    margin-left: 0;
  }
  }
   
  /* タブレット */
  @media screen and (min-width:600px) and (max-width:959px) {
  body{
    font-size: 0.9rem;
  }
  }
   
  /* PC用 */
  @media screen and (min-width:960px){
  body{
    font-size: 1rem;
  }
  }
.works{
  display: flex;
  flex-direction: row;
  flex: auto;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 2em;
  padding-bottom: 2em;
  justify-content: center;
}
.work{
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding-right: 2em;
}
.work h4{
  margin-bottom: 0.5em;
}
.work p{
  margin-bottom: 1em;
}


/*モーダル用css*/
.modalcontainer{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  z-index: 10;
  overflow-y: scroll;
}

button{
  max-width: 250px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #e44840;
  border: none;
  cursor: pointer;
}

button:hover{
    opacity: .7;
  }

  .open{
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
  }
  .container{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
  }
  .overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
  }
  .body{
    display: table;
    width: 100%;
    height: 100%;
  }
  .main{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
  }
  .content{
    position: relative;
    display: inline-block;
    width: 70vw;
    background: #fff;
    padding: 25px;
    box-sizing: border-box;
  }
  .text{
    line-height: 1.8;
    padding: 0 0 25px;
  }
  span{
    display: inline-block;
    text-align: left;
  }
